.container{
    background-color: aqua;
    padding: 10px;
    display: flex;
    gap: 1.6rem;
    margin-left: 1rem;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#userTitle{
    color:blue;

}

#userImg{
   height: 150px;
   width: 200px; 
   border-radius: 77%;
}

